<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.universityofthessaly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".DetailsKarditsaActivity"></activity>
        <activity android:name=".DetailsTrikalaActivity" />
        <activity android:name=".DetailsLamiaActivity" />
        <activity android:name=".DetailsVolosActivity" />
        <activity android:name=".DetailsLarisaSecondActivity" />
        <activity android:name=".DetailsLarisaActivity" />
        <activity android:name=".SecretaryActivityKarditsa" />
        <activity android:name=".SecretaryActivityTrikala" />
        <activity android:name=".SecretaryActivityLamia" />
        <activity android:name=".SecretaryActivityVolos" />
        <activity android:name=".SecretaryActivityLarisa" />
        <activity android:name=".KarditsaDeptsDetailsActivity" />
        <activity android:name=".TrikalaDeptsDetailsActivity" />
        <activity android:name=".LamiaDeptsDetailsActivity" />
        <activity android:name=".VolosDeptsDetailsActivity" />
        <activity android:name=".LarisaDeptsDetailsActivity" />
        <activity android:name=".UthDeptsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>